body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  padding: 0 140px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header-logo {
  padding-top: 48px;
}

.site-navigation, .user-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  padding-bottom: 15px;
  list-style: none;
}

.site-navigation {
  width: 445px;
  margin-right: 30px;
}

.user-navigation {
  max-width: 270px;
}

.site-navigation li{
  margin-right: 46px;
}

.user-navigation li {
  margin-right: 20px;
}

.site-navigation li:nth-child(4), .user-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a, .user-navigation a {
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.user-navigation .user-basket  {
  position: relative;
  padding-left: 50px;
}

.user-basket::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
